* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(210, 46%, 95%);
    font-family: "Barlow Semi Condensed", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* start grid system */
.container {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(3,auto);
    gap: 1.5rem;
}
.card1 {
    background-color: hsl(263, 55%, 52%);
    grid-column: 1/4;
    grid-row: 1/2;
    width: 455px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #ddd;
}
.card2 {
    background-color: hsl(217, 19%, 35%);
    grid-column: 4/5;
    grid-row: 1/2;
    width: 242px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #ddd;
}
.card3 {
    background-color: hsl(0, 0%, 100%);
    grid-column: 1/2;
    grid-row: 2/3;
    width: 242px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #ddd;
}
.card4 {
    background-color: hsl(219, 29%, 14%);
    grid-column: 2/5;
    grid-row: 2/3;
    width: 455px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #ddd;
}
.card5 {
    background-color: hsl(0, 0%, 100%);
    grid-column: 5/6;
    grid-row: 1/3;
    width: 242px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 5px #ddd;
}
/* end grid systeme */
.card-body  h5 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 11px;
}
/* start h5 color */
.card1 h5 {
    color: white;
}
.card2 h5 {
    color: white;   
}
.card3 h5 {
    color: rgb(51, 51, 51);
}
.card4 h5 {
    color: white;  
}
.card5 h5 {
    color: rgb(51, 51, 51);
}
/* end h5 color */
.card-body  p {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
}
/* start p color */
.card1 p {
    color: rgb(218, 218, 218);
}
.card2 p {
    color: rgb(218, 218, 218);   
}
.card3 p {
    color: rgb(88, 85, 85);
}
.card4 p {
    color: rgb(218, 218, 218);  
}
.card5 p {
    color: rgb(88, 85, 85);
    line-height: 19px;
}
/* end p color */
.card-head {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 15px;
}
.card-head h6 {
    font-size: 13px;
}
/* start h6 color */
.card1 h6 {
    color: rgb(218, 218, 218);
}
.card2 h6 {
    color: rgb(218, 218, 218);   
}
.card3 h6 {
    color: #353535;
}
.card4 h6 {
    color: rgb(218, 218, 218);  
}
.card5 h6 {
    color: #353535;
}
/* end h6 color */
.img-card {
    width: 32px;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 50%;
}
.img-card img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgba(192, 189, 189, .5);
}
.img-cont img {
    width: 95px;
    position: absolute;
    right: 790px;
    top: 80px;
    opacity: .66;
}
/* start mobile screen */
@media only screen and (max-width: 650px) {
    .container {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-body {
        width: 300px;
    }
    }
/* end mobile screen */
